<footer class="footer">
  <div class="footer-row">
    <h3 class="footer-heading-wrapper">
      {% render 'heading', heading: section.settings.heading, context: 'footer', superscript: section.settings.heading_superscript %}
    </h3>
    <div class="footer__email-form-wrapper">
      <form class="footer__email-input-wrapper">
        <input class="footer__email-input c-h4" placeholder="Email address" type="email" name="[email]">
        <span class="footer__email-input--arrow footer-product__arrow c-arrow">→</span>
      </form>
    </div>
  </div>
  <div class="footer-row">
    <div class="footer-products">
      {% for p in section.settings.p_list %}
        <div class="footer-product underline">
          <span class="footer-product__title c-h4">
            {{ p.title }}
          </span>
          <span class="footer-product__arrow c-arrow">→</span>
        </div>
      {% endfor %}
    </div>
    <div class="footer-links">
      <div class="footer-links-container">
        {% for link in linklists.footer-links.links %}
          <a class="footer-link" href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </div>
      <div class="footer-links-container">
        {% for link in linklists.footer-privacy.links %}
          <a class="footer-link" href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>

{{ 'section-footer.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "TALA"
    },
    {
      "type": "text",
      "id": "heading_superscript",
      "label": "Heading superscript",
      "default": "®"
    },
    {
      "type": "product_list",
      "id": "p_list",
      "label": "Products list"
    }
  ],
  "blocks": [
  ]
}
{% endschema %}
